#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* App.css */
.radio-group {
  margin-bottom: 20px;
}

.radio-option {
  margin-bottom: 10px;
}

.radio-option input[type="radio"] {
  display: none; /* Hide the actual radio buttons */
}

.radio-option label {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.radio-option label:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

.radio-option input[type="radio"]:checked + label {
  background-color: #007bff; /* Change background color when radio button is checked */
  color: #fff; /* Change text color when radio button is checked */
}
